*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --a: #FD7272;
    --b:#FC427B;
    --c:#ffcccc;
    --d:#A3CB38;
    --e:#f8c291;
    --f:#b8e994;
    --g:#0c2461;
    --h:#F8EFBA;
    --i:#B33771;

    --j:#b8e994;
    --k:#f8c291;
    --l:#ffb8b8;

    --desenfoque-color:rgba(12,36,97,0.6);
    --blur:blur(3px);
    --colorLogo: rgb(247,191,178);

}
/* Navegacion */


.seccion1-nav{
    position: sticky;
    top: 0;
    background: var(--g);
    height: 50px;
    text-align: right;

    display: flex;
    align-items: center;
}
.nav-img{
    width: 250px;
    height: 25px;
    margin-left: 10px;
}
.seccion1-img{
    display: flex;
    align-items:center;
    flex-grow: 1;
}
.seccion1-img2{
    display: flex;
    align-items:center;
    flex-grow: 1;
    display: none;
}
.nav-item{
    font-size: 20px;
    text-decoration: none;
    color: var(--colorLogo);
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    transition: .2s;
}
.nav-item:hover{
    border-bottom: 4px solid white;
    border-radius: 3px;
    background:var(--colorLogo);
    color: white;
}
.iconContainer{
    visibility: hidden;
}
/* Header */
.header{
    background: url("media/fondoProduccion.jpg")no-repeat center center/cover ;;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-h1{
    background: var(--desenfoque-color);
    backdrop-filter: var(--blur);
    color: var(--colorLogo);
    padding: 20px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    border-radius: 10px ;
}




@media (max-width:850px) {
    /* navegacion */
    .seccion1-img{
        display: none;
    }
    .seccion1-img2{
        display: flex;
    }
    .nav-img2{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .nav-item{
        font-size: 20px;
        text-decoration: none;
        color: var(--colorLogo);
        padding: 5px 10px 5px 10px;
        margin-right: 10px;
        transition: none;
        margin: 5px;
    }
    .nav-item:hover{
        border-bottom: none;
        border-radius: none;
        background:none;
    }
    .seccion1-nav{
        background: var(--g);
        height: 70px;
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .aContainer{
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background: var(--g);
        width: 100%;
        top: 70px;
    }
    .iconContainer{
        visibility: visible;
        color: white;
        font-size: 30px;
        padding: 20px;
        cursor: pointer;
    }
    .fa-list{
        text-align: center;
    }
    .show{
        visibility: initial;
    }
    
    
}






/* .showcase-img{
    background: url("media/fondoProduccion.jpg") no-repeat center center/cover ;
    height: 300px;
    width: 70%;
    margin: 0 auto;
    border-radius: 8px;
}
.showcase-p{
    color:  rgb(48,44,77);
    width: 100%;
    margin: 0 auto;
} */