*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --a: #FD7272;
    --b:#FC427B;
    --c:#ffcccc;
    --d:#A3CB38;
    --e:#f8c291;
    --f:#b8e994;
    --g:#0c2461;
    --h:#F8EFBA;
    --i:#B33771;

    --j:#b8e994;
    --k:#f8c291;
    --l:#ffb8b8;

    --desenfoque-color:rgba(210, 187, 122, 0.6);
    --blur:blur(3px);
    --desenfoque-white:rgba(255,255,255,0.5);
    --colorLogo: rgb(247,191,178);
}
/* Navegacion */

.nav-container{
    position: relative;
    z-index: 10;
    position: sticky;
    top: 0;
}
.seccion1-nav{
    background: var(--g);
    height: 50px;
    text-align: right;

    display: flex;
    align-items: center;
}
.nav-img{
    width: 250px;
    height: 25px;
    margin-left: 10px;
}
.seccion1-img{
    display: flex;
    align-items:center;
    flex-grow: 1;
}
.seccion1-img2{
    display: flex;
    align-items:center;
    flex-grow: 1;
    display: none;
}
.nav-item{
    font-size: 20px;
    text-decoration: none;
    color: var(--colorLogo);
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    transition: .2s;
}
.nav-item:hover{
    border-bottom: 4px solid white;
    border-radius: 3px;
    background:var(--colorLogo);
    color: white;
}
.iconContainer{
    visibility: hidden;
}
/* Header */
.header{
    background: url("media/FondoProduccion4.jpg")no-repeat center center/cover ;;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-h1{
    background: var(--desenfoque-white);
    backdrop-filter: var(--blur);
    font-size: 45px;
    color: black;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px ;
    z-index: 0;
}
/* Seccion 2 */
.contenido{
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}
.seccion2-h1{
    font-size: 40px;
    margin: 0 0 20px 0;
    color: var(--l);
}
.seccion2-p{
    font-size: 20px;
    text-align: justify;
}
/* Seccion del portafolio */

.portadas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}
.portafolio-container{
    display: flex;
    flex-direction: column;

    margin: 20px;
    text-align: center;
    border-radius: 15px;
}
.imagen{
    width: 350px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 15px -15px var(--color-electromagnet);
    transition: .3s;
}
.imagen:hover{
    box-shadow: 15px -16px var(--color-electromagnet2);
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.2);
}
.pregunta{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
}


@media (max-width:850px) {
    /* navegacion */
    .seccion1-img{
        display: none;
    }
    .seccion1-img2{
        display: flex;
    }
    .nav-img2{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .nav-item{
        font-size: 20px;
        text-decoration: none;
        color: var(--colorLogo);
        padding: 5px 10px 5px 10px;
        margin-right: 10px;
        transition: none;
        margin: 5px;
    }
    .nav-item:hover{
        border-bottom: none;
        border-radius: none;
        background:none;
    }
    .seccion1-nav{
        background: var(--g);
        height: 70px;
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .aContainer{
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background: var(--g);
        width: 100%;
        top: 70px;
    }
    .iconContainer{
        visibility: visible;
        color: white;
        font-size: 30px;
        padding: 20px;
        cursor: pointer;
    }
    .fa-list{
        text-align: center;
    }
    .show{
        visibility: initial;
    }
    
    .header-h1{
        font-size: 40px;
    }
    .seccion2-h1{
        font-size: 30px;
    }
    .seccion2-p{
        font-size: 20px;
    }
    .imagen{
        height:280px ;
        width:280px ;
    }
}


